<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
    <form action="task" method="delete">
        <p>Description: {{task.desc}}<p/>
        <p>Are you sure?</p>
        <input type="submit" name="Delete"/>
    </form>
</body>
</html>