<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
    <a href="/">Home</a>
    <p>Edit this task...</p>
    <form action="/api/tasks/update/{{id}}" method="post">
        <input type="hidden" name="id" value={{id}}>
        <p>Done: <input type="text" name="done" value="{{done}}"/></p>
        <p>Description: <input type="text" name="desc" value="{{desc}}"/></p>
        <button type="submit">Save</button>
    </form>
</body>
</html>