<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
    <p>Edit this task...</p>
    <form action="task" method="update">
        Description: <input type="text" name="desc"/>
        <button type="submit">Save</button>
    </form>
</body>
</html>