<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
</head>
<body>
    <a href="/">Home</a>
    <p>Create a new task...</p>
    <form action="/api/tasks/create" method="post">
        Description: <input type="text" name="desc"/>
        <button type="submit">Save</button>
    </form>
</body>
</html>